apipkg==1.4
attrs==18.1.0
beautifulsoup4==4.6.0
chardet==3.0.4
enum34==1.1.6
execnet==1.5.0
lockfile==0.12.2
lxml==4.0.0
mercurial==4.3.1
nose==1.3.7
NoseGAE==0.5.10
oauthlib==2.0.1
olefile==0.44
PAM==0.4.2
pexpect==4.2.1
Pillow==4.1.1
pluggy==0.6.0
py==1.5.3
pycrypto==2.6.1
pygobject==3.24.1
pygpgme==0.3
pyinotify==0.9.6
pytest==3.5.1
pytest-cache==1.0
python-apt==1.4.0b3
pyxdg==0.25
six==1.11.0
urllib3==1.21.1
waitress==1.1.0
webapp2==2.5.2
webencodings==0.5
WebOb==1.8.2
WebTest==2.0.29
