body {
    background-color: white;
}

.cookie-form {
    display: inline;
}

/* Change color of highlighted table rows. */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: aliceblue;
}

