{% extends "base.html" %}

{% block title %}{{ topic.title }}{% endblock title %}

{% block content %}

{% if flash_message %}

   <div class="alert {{ flash_class }}
               alert-dismissible col-sm-5 col-sm-offset-3 hidden-xs custom-flash-alert js-flash">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
       <p>{{ flash_message }}.</p>
   </div>
    <script language="JavaScript">
        // Remove flash alert after 4 seconds.
        setTimeout(function () {
          document.querySelector('.js-flash').remove()
        }, 4000)

        // Remove query parameters from the browser url bar after flash message.
        history.pushState({}, '', document.location.pathname.concat(document.location.hash));
    </script>

{% endif %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <strong>{{ topic.title }}</strong>
                    <div class="pull-right">
                    {% if not is_subscribed %}
                        <a href="/topic/{{ topic.key.id() }}/subscribe" class="btn btn-success btn-xs">Subscribe</a>
                    {% endif %}
                    </div>
                </h1>
            </div>

            <div class="panel-body">
                <p><strong>Author: </strong>{{ topic.author_email }}</p>

                <p>{{ topic.content }}</p>
            </div>

            {% if can_make_changes %}
            <div class="panel-footer text-right">
                <form id="js-del-form-{{ topic.key.id() }}" action="/topic/{{ topic.key.id() }}/delete" method="post">
                    <button type="submit"
                            class="btn btn-danger"
                            title="Delete this topic!">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete
                    </button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        {% include "topic_comments.html" %}

        {% include "comment_add.html" %}

    </div>
</div>
{% endblock content %}
