<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <h1>Topics
            <form action="/cron/website-subscription" method="get" class="pull-right">
                <input class="btn btn-default" type="submit" value="Subscribe to latests topics">
            </form>
        </h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="col-sm-2 hidden-xs hidden-sm">Created</th>
                    <th class="col-sm-4">Title</th>
                    <th class="col-sm-3">Author</th>

                    {% if can_make_changes %}

                    <th class="col-sm-1 hidden-xs">Action</th>

                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for topic in topics if topics %}
                <tr class="clickable-row" data-href="topic/{{ topic.key.id() }}/details">
                    <td class="hidden-xs hidden-sm text-muted">
                        {{ topic.created.strftime('%d/%m/%Y, %H:%M') }}
                    </td>
                    <td>
                        <a href="topic/{{ topic.key.id() }}/details">
                        {{ topic.title | truncate(80) }}
                        </a>
                    </td>
                    <td>{{ topic.author_email }}</td>

                    {% if can_make_changes %}

                    <td class="hidden-xs">
                        <form id="js-del-form-{{ topic.key.id() }}"
                              action="/topic/{{ topic.key.id() }}/delete"
                              method="post">
                            <button type="submit"
                                    class="btn btn-xs btn-danger hidden-xs"
                                    title="Delete this topic!">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </form>
                    </td>

                    {% endif %}

                </tr>
                {% endfor %}
                {% if not topics %}
                <tr class="clickable-row" data-href="topic/add">
                    <td class="bg-info text-center text-info" colspan="4">
                        <p>There are no topics yet. Be a <strong>pioneer</strong> and ...</p>
                    <a class="btn btn-primary" href="/topic/add">Create a new topic!</a></td>
                </tr>
                {% endif%}
                </tbody>
            </table>
        </div>

        <script language="JavaScript">
            var clickableRows = document.querySelectorAll('.clickable-row');

            clickableRows.forEach(function (row) {
                 row.addEventListener('click', makeClickable);
                });

            function makeClickable () {
                window.location = this.getAttribute('data-href');
            }
        </script>

    </div>
</div>

