{% extends "base.html" %}

{% block title %}Add new topic{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Add a new topic</h1>
        <form method="post">
            <p class="text-info">All fields are required</p>

            <input type="hidden" name="csrf-token" value="{{ csrf_token }}">

            <div class="form-group">
                <label for="title-input">Title <span class="text-info">*</span></label>
                <input id="title-input" type="text" class="form-control" name="title" required>
            </div>

            <div class="form-group">
                <label for="text-textarea">Content <span class="text-info">*</span></label>
                <textarea id="text-textarea" name="text" class="form-control" rows="6" required></textarea>
            </div>

            <div class="form-group">
                <label for="add-topic-sum" class="js-sum-label">What is the sum of 0 and 0?</label>
                <input type="text" id="add-topic-sum" class="form-control js-human-check" required>
            </div>

            <fieldset class="text-right">
                <button type="submit" class="btn btn-success js-prevent-resubmission">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    // TODO: FIX - Potential danger - this modifies jQuery.
    jQuery.fn.preventResubmission = function() {
        $(this).on('submit', function(e) {
            var form = $(this);

            if (form.data('submitted') === true) {
                // Previously submitted - don't submit again
                e.preventDefault();
            } else {
                // Mark it so that the next submit can be ignored
                form.data('submitted', true);
            }
        });

        // Keep chainability
        return this;
    };
/*
if (addTopicHumanCheck.val() === '10') {
                addTopicButton.addClass('disabled');

            } else {
                alert('Sorry, wrong sum.');
                e.preventDefault();
            }
*/

    $(document).ready(function() {
        var addTopicButton = $('.js-prevent-resubmission');
        var addTopicHumanCheck = $('.js-human-check');
        var addTopicForm = addTopicButton.closest('form');
        var addTopicSumLabel = $('.js-sum-label');

        var firstNumber = 1 + Math.floor(Math.random() * 9);
        var secondNumber = 1 + Math.floor(Math.random() * 19);
        var sumNumber = firstNumber + secondNumber;

        addTopicSumLabel.text('What is the sum of ' + firstNumber + ' and ' + secondNumber + '?');

        addTopicForm
            .preventResubmission()
            .submit(function(e) {
                var userSum = Number(addTopicHumanCheck.val())
                if (userSum !== sumNumber) {
                    alert('Sorry, wrong sum: ' +
                        firstNumber + ' plus ' + secondNumber +
                        ' do not equal ' +  userSum + '\n' +
                        'Please try again.');
                    e.preventDefault();
                }
            })
    });
</script>
{% endblock scripts %}