{% extends "base.html" %}

{% block title %}Add new topic{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Add a new topic</h1>
        <form method="post">
            <p class="text-info">All fields are required</p>

            <input type="hidden" name="csrf-token" value="{{ csrf_token }}">

            <div class="form-group">
                <label for="title-input">Title <span class="text-info">*</span></label>
                <input id="title-input" type="text" class="form-control" name="title" required>
            </div>

            <div class="form-group">
                <label for="text-textarea">Content <span class="text-info">*</span></label>
                <textarea id="text-textarea" name="text" class="form-control" rows="6" required></textarea>
            </div>

            <fieldset class="text-right">
                <button type="submit" class="btn btn-success js-prevent-resubmission">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
// TODO: FIX - Potential danger - this modifies jQuery.
jQuery.fn.preventResubmission = function() {
    $(this).on('submit', function(e) {
        var form = $(this);

        if (form.data('submitted') === true) {
            // Previously submitted - don't submit again
            e.preventDefault();
        } else {
            // Mark it so that the next submit can be ignored
            form.data('submitted', true);
        }
    });

    // Keep chainability
    return this;
};


    $(document).ready(function() {
        var addTopicButton = $('.js-prevent-resubmission');

        function disableTopicButton(e) {
            addTopicButton.addClass('disabled');
        }

        addTopicButton.closest('form').preventResubmission();

        addTopicButton
            .click(disableTopicButton)
            .dblclick(disableTopicButton)
            .keypress(disableTopicButton);

    });
</script>
{% endblock scripts %}